<%- include('./common/header.ejs'); -%>

<section class="hero">
    <div class="container">
        <div class="left">

        </div>
        <div class="right">
            <img src="Img/cup-cake.png" alt="cup-cake">
        </div>
    </div>
</section>





<%- include('./common/footer.ejs'); -%>